body {
    direction: rtl;
    
    
}
div#container {
    width: 1250px;
    height:auto;
    margin: 0px 0px 0px 0px;
    background-size: cover ;
    background-image: url('pexels-photo-47454 (2).jpeg');
    background-position: right top;
    /*background-attachment: fixed;*/
}
div#shani{
margin-top: 5px;
margin-right: 5px;
padding-top: 5px;
padding-right: 5px;
}
h1{
    color: darkcyan;
    font-weight: bold;
    font-size: 60px;
    font-family: Calibri;
    text-align: center;

}
h2 {
    color: cornflowerblue;
    font-size: 28px;
    font-family: Calibri;
    text-align: center;
}
.has {
    color: cornflowerblue;
    font-size: 28px;
    font-family: Calibri;
    text-align: center;
    /*margin-bottom:25px;
   padding-bottom: 25px;*/
}

.limod {
    color: lightslategrey;
    font-size: 20px;
    font-family: Calibri;
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 100px;
}
    .thom {
    color: cornflowerblue;
    font-size: 28px;
    font-family: Calibri;
    text-align: center;
}
ul {
    color: lightslategrey;
    font-size: 20;
    font-family: Calibri;
    text-align: center;
    list-style-type: circle;
    list-style-position: inside;
}


h3 {
    color: darksalmon;
    font-size: 28px;
    font-family: Calibri;
    text-align: center;
}
p {
    color: lightslategrey;
    font-size: 20px;
    font-family: Calibri;
    text-align: center;
}
.fa {
    padding: 5px;
    font-size: 60px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    margin-right: 195px;
    display:inline-block ;
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
   
}

    .fa::after {
        content: " ";
        background: sandybrown;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        opacity: 0;
        transition: all 0.8s
    }

    

    
.fa:hover {
    opacity: 0.4;
}

.fa-facebook {
    background: #ffffff;
    color: darkblue;
}



.fa-google {
    background: #ffffff;
    color: orangered;

}
.fa-instagram {
    background: #ffffff;
    color: darksalmon;
}
